# Node stuff
.npmrc
node_modules/
lerna-debug.log
npm-debug.log
yarn-error.log
package-lock.json
.idea

# tsc and build output
tsconfig.tsbuildinfo

# testing stuff
coverage
depends.svg
html-report

# outputs
lib
tmp
dist

# Universal stuff (mac, webstorm, coverage
*~
.DS_Store

**/*.d.ts

**/yarn-audit*
**/yarn-deprecations*

samples
out.sqlite